
ion-segment {
    background-color: color($colors, dark);
}

.toolbar-background {
    background-color: color($colors, dark);

}

#nearbyList .list-md{
    margin-bottom: 56px;
    margin-top: 50px;
}


#nearbyList .list-ios{
    margin-bottom: 56px;
}
